{% extends "layouts/base.html" %}
    {% block content %}
        <div class="container">
        <br>
          <table class="table table-hover table-lg" width = "25%" >
            <tr>
            <th class="table-primary" style=" max-width: 10px;">All Items</th>
            <td>{{all_items}}</td>
          </tr>
            <tr>
              <th class="table-primary">Low Stock Items</th>
              <td>{{low_stock_items}}</td>
            </tr>
            
          </table>

    {% endblock content %}


    