{% extends "layouts/base.html" %}
{% block content %}
<div class="container" >
  <div class="jumbotron"> salesorders</div>
<table class="table table-bordered">
            <tr class="jumbotron">
              <th>sales_order_number</th>
              <th>quantity</th>
              
            </tr>
        
            {% for object in object_list %}
            <tr>
              <td><a href="{% url 'salesorder-detail' pk=object.id %}">{{ object.sales_order_number }}</a></td>
              <td>{{ object.quantity}}</td>   
            </tr>
            {% endfor %}
         </table>

        <div class="container">
            <a href="{% url 'salesorder-create' %}">
              <button class="btn btn-outline-info">Add sales_order</button>
            </a>
          </div>
    </div>
    {% endblock content %}
  