{% extends "layouts/base.html" %}
{% block content %}
<div class="container" >
  <div class="jumbotron">purchase-orders </div>
<table class="table table-bordered">
            <tr class="jumbotron">
              <th>purchase_order_number</th>
              <th>quantity</th>
              <th>Store</th>
              
            </tr>
        
            {% for object in object_list %}
            <tr>
              <td><a href="{%url 'purchaseorder-detail' pk=object.id %}">{{ object.purchase_order_number }}</a></td>
              <td>{{ object.quantity}}</td>    
              <td>{{ object.item.store.store_number}}</td>    
              <td>
                
                <form method="POST" action="">
                {% csrf_token %}
                  <label for="status">change status:</label>
                  <select name="status" id="status">
                    {% if object.status == 'RECEIVED'%}
                <option value="{'data':[RECEIVED, {{object.id}}]}">RECEIVED</option>
                <option value='{"data":["TRANSIT", {{object.id}}]}''>TRANSIT</option>
                    {%else%}
                <option value='{"data":["TRANSIT", {{object.id}}]}''>TRANSIT</option>
                <option value='{"data":["RECEIVED", {{object.id}}]}''>RECEIVED</option>
                    {%endif%}
                    
                  </select>
                  <br><br>
                  <input type="submit" value="Submit">
                </form>

              </td>    
            </tr>
            {% endfor %}
         </table>

        <div class="container">
            <a href="{% url 'purchaseorder-create' %}">
              <button class="btn btn-outline-info">Add Purchase_order</button>
            </a>
          </div>
    </div>
    {% endblock content %}
  