

{% include "layouts/base.html" %}
{% block content %}
<div class="container" >
<table class="table">
            <tr>
              <th>supplier</th>
              <th>branch</th>
              <th>deliver_to</th>
              <th>purchase_order_number</th>
              <th>date</th>
              <th>item</th>
              <th>quantity</th>
              <th>rate</th>
              <th>amount/th>
              
            </tr>
        
            <tr>
              <td>{{ object.supplier }}</td>
              <td>{{ object.branch}}</td> 
              <td>{{ object.deliver_to}}</td>
              <td>{{ object.email}}</td>
              <td>{{ object.date}}</td> 
              <td>{{ object.item}}</td>  
              <td>{{ object.quantity}}</td>
              <td>{{ object.rate}}</td> 
              <td>{{ object.amount}}</td>   
              <td>
                <a href="{% url 'purchase-order-update' pk=object.id %}"><button >Edit</button></a>
              </td>
            </tr>
         </table>{% endblock content %}