

{% extends "layouts/base.html" %}
{% block content %}
<div class="container" >
  <div class="jumbotron"><h1>store detail</h1></div>
<table class="table table-bordered">
            <tr class="jumbotron">
              <th>store-number</th>
              <th>company</th>
              <th>address</th>
              
            </tr>
        
            <tr>
              <td>{{ object.store_number }}</td>
              <td>{{ object.company}}</td>
              <td>{{ object.address}}</td>                   
            </tr>
         </table>
         <div class="text-right"><a href="{% url 'store-update' pk=object.id %}"><button class="btn btn-outline-info">Edit</button></a>
</div>
         {% endblock content %}
