{% extends "layouts/base.html" %}
{% block content %}
<div class="container" >
  <div class="jumbotron">stores</div>
<table class="table table-bordered">
            <tr>
              <th class="jumbotron">store_number</th>
              <th class="jumbotron">company</th>
              
            </tr>
        
            {% for object in object_list %}
            <tr>
              <td><a href="{%url 'store-detail' pk=object.id %}">{{ object.store_number}}</a></td>   
              <td>{{object.company}}</td>           
            </tr>
            {% endfor %}
         </table>

        <div class="container">
            <a href="{% url 'store-create' %}">
              <button class="btn btn-outline-info">Add Store</button>
            </a>
          </div>
    </div>
    {% endblock content %}
  