
    {% include "layouts/base.html" %}

    {% block content %}
    <div class="container" >
      <div class="jumbotron"> 
        <h1>items</h1></div>
          <table class="table table-bordered">
            <tr class="jumbotron">
                <th >Item name</th>
                <th >Item Price</th>
              </tr>
              {% for object in object_list %}
              <tr>
                <td ><a href="{% url 'item-detail' pk=object.id %}">{{ object.name }}</a></td>
                <td>{{ object.selling_price }}</td>
              </tr>
              {% endfor %}
          </table>

        <div class="container">
            <a href="{% url 'item-create' %}">
              <button class="btn btn-outline-info">Add Item</button>
            </a>
          </div>
    </div>
    {% endblock content %}
  
