

{% include "layouts/base.html" %}
{% block content %}
<div class="container" >
<table class="table">
            <tr>
              <th>first_name</th>
              <th>last_name</th>
              <th>company_name</th>
              <th>emali</th>
              <th>phone</th>
              <th>address</th>
              
            </tr>
        
            <tr>
              <td>{{ object.first_name }}</td>
              <td>{{ object.last_name}}</td> 
              <td>{{ object.company_name}}</td>
              <td>{{ object.email}}</td>
              <td>{{ object.phone}}</td> 
              <td>{{ object.address}}</td>     
              <td>
                <a href="{% url 'supplier-update' pk=object.id %}"><button class="btn btn-outline-info">Edit</button></a>
              </td>
            </tr>
         </table>{% endblock content %}